<% function formatDate(dateString) { const date = new Date(dateString); const
options = { year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit',
minute: '2-digit' }; return date.toLocaleDateString('en-US', options); } %>

<div style="min-height: 80vh" class="container">
  <div class="">
    <div class="">
      <h1 style="padding-top: 2rem" class="mb-4">Manage Accounts</h1>
    </div>

    <% if (typeof message !== 'undefined' && message.length > 0) {
    console.log(message) %>
    <div class="mb-3">
      <% if (success && success.length > 0) { %>
      <div class="text-success"><%= message %></div>
      <% } else { %>
      <div class="text-danger"><%= message %></div>
      <% } %>
    </div>
    <% } %>

    <div class="table-responsive">
      <table class="table table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th scope="col">MEMBER NAME</th>
            <th scope="col">ADMIN</th>
            <th scope="col">CREATED AT</th>
            <th scope="col">UPDATE AT</th>
          </tr>
        </thead>
        <tbody>
          <% accountData.forEach(account => { %>
          <tr>
            <td><%= account.memberName %></td>
            <td><%= account.isAdmin ? 'Yes' : 'No' %></td>
            <td><%= formatDate( account.createdAt )%></td>
            <td><%= formatDate(account.updatedAt) %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
